name: ci

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
#        compiler: [ clang, gcc ]
        compiler: [ clang ]
#        type: [ Debug, Release ]
        type: [ Debug ]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: REUSE check
      uses: ./reuse-check
    - name: Initialize Environment
      uses: ./init
    - name: Test environment
      run: |
        gcc -v || exit 1
        clang -v || exit 1
    - name: Build & Test
      uses: ./cmake
      with:
        build-dir: ${{ runner.workspace }}/build
        cc: ${{ matrix.compiler }}
        build-type: ${{ matrix.type }}
        run-test: true
    - name: Generate Documentation
      uses: ./docs
    - name: Documentation Coverage
      uses: ./docs-coverage
      with:
        accept-threshold: "1.5"
